* {
    margin: 0 5px;
    padding: 0;
    box-sizing: border-box;
  }
  #size {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #A5124D;
  }
  .container{
    height: 100vh;
  }
  
  .header{
    height: 10%;
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &-logo{
       font-size: 4vw;
    }

    &-menu{
      display: flex;
      flex-direction: row;
      font-size: 2.5vw;
      gap: 15px;
    }
  } 

  .main{
    height: 80%;
    // border: 2px solid black;
    display: flex;
    flex-direction: row;
    &-image{
     background-image: url('./image/Portrait.png ');
     width: 50%;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: left center;
    //  border: 2px solid red;
    }

    &-text{
      width: 50%;
      // border: 2px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-1{
        font-size: 10vw;
      }
      &-2, &-3, &-4{
        font-size: 5vw;
      }
    }

  }
  
  .footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 10%;
    // border: 2px solid yellowgreen;
    margin-right: 10%;
    gap: 10px;
  }

  img{
    width: 5.3vw;
  }

  @media(max-width:650px){
    .header{
       justify-content: center;
      &-logo{
        font-size: 40px;
      }

      &-menu{
        display: none;
      }
    }

    .main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-size: 100%;
      }
      
      &-text{

      }
    }

    .footer{
      justify-content: center;
      margin: 0;
      [class ^="footer-"]{
        img{
          width: 45px;
          height: 45px;
        }
      }
    }

  }